.window{
    position: absolute;
    width: 400px;
    max-height: 800px;
    background-color: aliceblue;
    left: 33%;
    top: 15%;
    border: 1px solid black;
    text-align: center;
    display: grid;
}
.btn{
    width: 100px;
    margin-top: 10px;
    margin-left: 37.5%;
    margin-bottom: 1%;
}
.box{
    max-width: 200px;
    margin-left: 25%;
}
.alert{
    color: red;

}
.set{
    display: grid;
}