<div>
    <form [formGroup]="subForm" class="window" *ngIf="validUsername">
        <h1>Workout Entry</h1>
        <label for="text">Workout Split</label>
        <select name="workout-split" id="workout-split" class="box" formControlName="split">
            <option value="push">Push</option>
            <option value="pull">Pull</option>
            <option value="leg-ab">Leg-Ab</option>
        </select>
        <label for="text">Number of Sets</label>
        <select name="number-set" id="number-set" class="box" formControlName="set">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <label for="text">Date</label>
        <input type="text" class="box" formControlName="date">
        <label class="alert" *ngIf="date.invalid && (date.touched || date.dirty)">{{dateErrorMsg}}</label>
        <label for="text">Workout Type</label>
        <input type="text" class="box" formControlName="workout_type">
        <label for="text">Start Time</label>
        <input type="text" class="box" formControlName="sTime">

        <div *ngIf="set.value >= 1" class="set">
            <h3>Set 1</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set1_rep">
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set1_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
            <input type="text" class="box" formControlName="set1_weight">
        </div>

        <div *ngIf="set.value >= 2" class="set">
            <h3>Set 2</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set2_rep">
            <div class="alert"> Invalid entry!</div>
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set2_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
        <input type="text" class="box" formControlName="set2_weight">
        </div>
        <div *ngIf="set.value >= 3" class="set">
            <h3>Set 3</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set3_rep">
            <div *ngIf="" class="alert"> Invalid entry!</div>
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set3_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
        <input type="text" class="box" formControlName="set3_weight">
        </div>

        <div *ngIf="set.value >= 4" class="set">
            <h3>Set 4</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set4_rep">
            <div *ngIf="" class="alert"> Invalid entry!</div>
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set4_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
        <input type="text" class="box" formControlName="set4_weight">
        </div>

        <div *ngIf="set.value >= 5" class="set">
            <h3>Set 5</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set5_rep">
            <div *ngIf="" class="alert"> Invalid entry!</div>
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set5_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
        <input type="text" class="box" formControlName="set5_weight">
        </div>

        <div *ngIf="set.value >= 6" class="set">
            <h3>Set 6</h3>
            <label for="text">Rep</label>
            <input type="text" class="box" formControlName="set6_rep">
            <div *ngIf="" class="alert"> Invalid entry!</div>
            <label for="text">Form</label>
            <select name="form" id="form1" class="box" formControlName="set6_form">
                <option value="norm">norm</option>
                <option value="sbf">sbf</option>
                <option value="bf">bf</option>
                <option value="mbf">mbf</option>
                
                <option value="gf">gf</option>
                <option value="ef">ef</option>
            </select>
            <label for="text">Weight</label>
        <input type="text" class="box" formControlName="set6_weight">
        </div>
        <label for="text">End Time</label>
        <input type="text" class="box" formControlName="eTime">

        <div class="side">
            <button class="btn2" type="button" (click)="goHome()">Back</button> <button class="btn2" type="button" (click)="addEntry()">Submit</button>
        </div>
    </form>
    <div class="window2" *ngIf="!validUsername">
        <h4>Please Login</h4>
        <button class="btn2" type="button" (click)="goHome()">Home</button>
    </div>
</div>