<div>
    <form [formGroup]="subForm" (ngSubmit)="addEntry()" class="window">
        <h1>Workout Entry</h1>
        <label for="text">Workout Split</label>
        <select name="workout-split" id="workout-split" class="box">
            <option value="push">Push</option>
            <option value="pull">Pull</option>
            <option value="leg-ab">Leg-Ab</option>
        </select>
        <label for="text">Set</label>
        <input type="text" class="box">
        <label for="text">Rep</label>
        <input type="text" class="box" formControlName="rep">
        <div *ngIf="rep.invalid" class="alert"> Invalid entry!</div>
        <label for="text">Date</label>
        <input type="text" class="box">
        <label for="text">Form</label>
        <input type="text" class="box">


        <input type="submit" value="Submit" class="btn" [disabled]="!subForm.valid">
    </form>
</div>