<div class="home">
    <h1>Fitness Tracker</h1>
    <form [formGroup]="loginInfo" (ngSubmit)="onSubmit()" class="window" *ngIf="!loginAttempt">
        <h3>Login</h3>
        <label for="username">Username</label>
        <input type="text" class="box" formControlName="username">
        <label *ngIf="username.invalid" for="username-alert" class="alert">Please Enter A Valid Username</label>
        <label for="pass">Password</label>
        <input type="text" class="box" formControlName="password">
        <label *ngIf="password.invalid" for="pass-alert" class="alert">Please Enter A Valid Password</label>

        <a (click)="newUser()">New User?</a>
        <input type="submit" class="btn" [disabled]="!loginInfo.valid">
    </form>
    <form *ngIf="loginAttempt" class="window" (ngSubmit)="goBack()">
        <h3>Wrong Username and Password Combination</h3>
        <h4>Please Try Again</h4>
        <input type="submit" class="btn" value="Back">
    </form>
</div>